<h1><%= t('view.task_list')%></h1>
<p><%= notice %></p>
<table>
  <tr>
    <th><%= t('view.enddeadline')%></th>
    <th><%= t('view.task_name') %></th>
    <th><%= t('view.content') %></th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class="date_row"><%= task.end_on %></td>
    <td class="task_row"><%= task.task_name %></td>
    <td><%= task.content %></td>
    <td><%= link_to t('view.check_contents'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit_task'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.delete_task'), task_path(task.id), method: :delete, data: {confirm: t('view.confirm')} %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to t('view.sort_end_date'), tasks_path(sort_expired: "true") %>
<%= link_to t('view.create_task'), new_task_path %>
